# fly.toml app configuration file generated for binify-app on 2025-12-23T11:06:28+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'binify-app'
primary_region = 'ams'

[build]
  builder = "paketobuildpacks/builder:base"
  dockerfile = 'Dockerfile'

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  ALLOWED_HOSTS = 'binify.fly.dev'
  DEBUG = 'False'
  REDIS_DB = '0'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true

[[services]]
  protocol = 'tcp'
  internal_port = 8000

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 80

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '5s'

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
