{% extends "base/base.html" %}
{% block content %}
<h2 class="mb-4 fs-4">Створити новий Bin</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_content" class="form-label"></label>
        <textarea class="form-control" id="id_content" name="content" rows="10" required></textarea>
    </div>
    <h5 class="mt-4">Додаткові налаштування</h5>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="id_category" class="form-label">Категорія:</label>
            <select name="category" class="form-select" id="id_category">
                {% for value, label in category_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_tags" class="form-label">Теги:</label>
            <input type="text" class="form-control" id="id_tags" name="tags" placeholder="Введіть теги через кому">
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_language" class="form-label">Мова:</label>
            <select name="language" class="form-select" id="id_language">
                {% for value, label in language_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_expiry" class="form-label">Термін дії:</label>
            <select name="expiry" class="form-select" id="id_expiry">
                {% for value, label in expiry_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_access" class="form-label">Доступність:</label>
            <select name="access" class="form-select" id="id_access">
                {% for value, label in access_choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_title" class="form-label">Назва (необов'язково):</label>
            <input type="text" class="form-control" id="id_title" name="title" placeholder="Мій код" maxlength="100">
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-3">Зберегти</button>
</form>
{% endblock %}