{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- для пошукових систем SEO -->
    {% comment %} <meta name="description" content="Короткий опис вашого сайту або сторінки">
    <meta name="keywords" content="pastebin, код, нотатки, bin, django">
    <meta name="author" content="Ваше ім'я або назва проєкту"> {% endcomment %}
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'deps/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/bootstrap/github_dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/main.css' %}">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}">
     <!-- footer -->
    <link rel="stylesheet" href="{% static 'deps/css/footer.css' %}">
    <title>{{ title }}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<!-- навігаційна панель -->
<body>
    {% include 'base/navbar.html' %}
    <!-- content in page -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <!-- logo -->
        <svg width="160" height="48" viewBox="0 0 160 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <polygon points="24,8 40,16 40,32 24,40 8,32 8,16" fill="#23272b" stroke="#43e97b" stroke-width="2"/>
            <text x="15" y="28" font-size="16" fill="#43e97b" font-family="Consolas, monospace" font-weight="bold" text-anchor="middle" dominant-baseline="middle" alignment-baseline="middle" transform="translate(9,-3)">bin</text>
            <text x="50" y="34" font-size="28" fill="#43e97b" font-family="Segoe UI, Arial, sans-serif" font-weight="bold">Binify</text>
        </svg>
        Binify © {{ year|default:"2025" }} | Inspired by Pastebin
    </div>
    <script src="{% static 'deps/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'deps/js/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>