<!-- Для non_field_errors -->
{% if form.non_field_errors %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-success alert-dismissible fade show custom-shadow" role="alert">
          {{ form.non_field_errors }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!-- Окремо для повідомлень про створення біна -->
{% if messages %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% for message in messages %}
          {% if 'bin_error' in message.tags %}
            <div class="alert alert-success alert-dismissible fade show custom-shadow mb-2" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

<!-- Всі інші повідомлення для користувачів, крім bin_error -->
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if messages %}
        {% for message in messages %}
          {% if 'bin_error' not in message.tags %}
            <div class="alert alert-success alert-dismissible fade show custom-shadow mb-2" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div id="jq-notification" class="alert alert-success alert-dismissible fade show custom-shadow mb-2" style="display: none;" role="alert">
        </div>
      {% endif %}
    </div>
  </div>
</div>