{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row">
            <!-- Профіль з даними користувача -->
            <div class="col-md-5">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профіль користувача</h3>
                    <form>
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                <img src="{% static "deps/images/baseavatar.jpg" %}"
                                    alt="Аватар користувача" class="img-fluid rounded-circle"
                                    style="max-width: 150px;">
                                <input type="file" class="form-control mt-3" id="avatar"
                                    accept="image/*">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="firstName" class="form-label">Ім'я*</label>
                                <input type="text" class="form-control" id="firstName"
                                    placeholder="Введіть ваше ім'я" value="" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="lastName" class="form-label">Прізвище*</label>
                                <input type="text" class="form-control" id="lastName"
                                    placeholder="Введіть ваше прізвище" value="" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="username" class="form-label">Ім'я користувача*</label>
                                <input type="text" class="form-control" id="username"
                                    placeholder="Введіть ваше ім'я користувача" value="" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="email"
                                    placeholder="Введіть ваш email *youremail@example.com" value=""
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}