# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy to Fly

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master
        with:
          version: 'v0.0.XXX' # необов'язково
          access-token: ${{ secrets.FLY_API_TOKEN }}

      - name: Deploy (remote build)
        run: fly deploy --remote-only --app binify-hash-generator
