# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy to Fly
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Install flyctl
        run: curl -L https://fly.io/install.sh | sh
      - name: Add flyctl to PATH
        run: echo "$HOME/.fly/bin" >> $GITHUB_PATH

      - name: Deploy (remote build)
        run: fly deploy --remote-only --app binify-hash-generator
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
